@model DotNetMashup.Web.Model.GithubAnnouncement

<div class="tile">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img class="img-responsive img" src="@Model.Author.ImageUrl" /></div>
            <div class="col-md-10">
                <h2><i class="fa fa-github" style="font-size:32px"></i> @Model.Author.Name</h2>
                <h2 class="breakword"><a href="@Model.OriginalLink">#@Model.IssueNumber @Model.Title</a></h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 breakword">@Html.Raw(Model.Content)</div>
        </div>
    </div>
</div>